provider "aws" {
  region = "{{ environment.region }}"

  assume_role {
    role_arn    = "{{ credentials.aws_role_arn }}"
{% if credentials.aws_external_id %}
    external_id = "{{ credentials.aws_external_id }}"
{% endif %}
  }

  default_tags {
    tags = {
{% for key, value in tags.items() %}
      {{ key }} = "{{ value }}"
{% endfor %}
    }
  }
}
