{% for mod in modules %}
module "{{ mod.module_key }}_{{ mod.resource_name | replace('-', '_') }}" {
  source = "{{ mod.source }}?depth=1&ref={{ mod.source_ref }}"

{% for var_name, var_value in mod.variables.items() %}
{% if var_value is not none %}
{% if var_value is mapping %}
  {{ var_name }} = {
{% for k, v in var_value.items() %}
    {{ k }} = "{{ v }}"
{% endfor %}
  }
{% elif var_value is iterable and var_value is not string %}
  {{ var_name }} = [{{ var_value | map('tojson') | join(', ') }}]
{% elif var_value is boolean %}
  {{ var_name }} = {{ var_value | lower }}
{% elif var_value is number %}
  {{ var_name }} = {{ var_value }}
{% else %}
  {{ var_name }} = "{{ var_value }}"
{% endif %}
{% endif %}
{% endfor %}
}

{% endfor %}
