terraform {
  required_version = ">= 1.6.0"

  required_providers {
{% if environment.cloud_provider == "aws" %}
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
{% elif environment.cloud_provider == "azure" %}
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "~> 3.0"
    }
{% endif %}
  }
}
